<div class="section">
  <div class="container">
    <div class="card card--upper">
      <div class="card__heading">
        <h2>{{model.name}}</h2>
      </div>
      <div class="card__content card__content--right">
        {{#link-to 'brand.car.new'}}
          <button class="button">Add New Car</button>
        {{/link-to}}
      </div>
    </div>

    <div class="grid">
      {{#each model.cars as |car|}}
        <div class="grid__item">
          <div class="card">
            <div class="card__heading">
              <h3>{{car.year}} - {{car.name}}</h3>
            </div>
            <div class="card__content">
              <p>Horsepower: {{car.hp}}</p>
              <p>Price: ${{car.price}}</p>
            </div>
          </div>
        </div>
      {{/each}}


    </div>

  </div>
</div>
